.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: rgb(49, 83, 99);
  align-items: center;
}

.accordian{
  width: 500px;
  /* background-color: rgb(185, 221, 221); */
}

.item{
  background: rgb(117, 173, 171);
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 20px;

}

.title{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content{
  color: #ffffff;
  height: auto;
}





